html{
    font-size:100%;
}

*,*::after,*::before{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: $VeryLightGray;
    font-size:0.75rem;
    line-height: 1.3rem;

    @include breakpoint-up(large){
        display:block;
    }

}

h1,h2,h3{
    margin: 0;
    padding: 0;
}

a,a:visited,a:hover{
    text-decoration: none;
}
