
$BrightOrange:hsl(31, 77%, 52%);
$DarkCyan:hsl(184, 100%, 22%);
$VeryDarkCyan:hsl(179, 100%, 13%);
$TransparentWhite:hsla(0, 0%, 100%, 0.75); //paragraph
$VeryLightGray:hsl(0, 0%, 95%)//background,headings,buttons

//font-family: 'Lexend Deca', sans-serif;
//font-family: 'Big Shoulders Display', cursive;